In [213]:
# 札幌と北見の距離
a = input("札幌と北見の距離(km)")

札幌と北見の距離(km) 303

In [214]:
a

'303'

In [215]:
type(a)

str

In [216]:
a = int(a)

In [217]:
type(a)

int

In [218]:
b = a * 1000
c = b * 100

print("札幌と北見の距離は{}mです。".format(b))
print("札幌と北見の距離は{}cmです。".format(c))

札幌と北見の距離は303000mです。
札幌と北見の距離は30300000cmです。

In [219]:
# 温度の単位を摂氏から華氏へ変換
c = input("温度は何度(℃)？")

温度は何度(℃)？ 41

In [220]:
c

'41'

In [221]:
type(c)

str

In [222]:
c = int(c)

In [223]:
type(c)

int

In [224]:
f = (c * 1.80) + 32.0
print("この部屋の華氏は{}°Fです。".format(f))

この部屋の華氏は105.8°Fです。

In [225]:
# 5教科のテストの点数の平均点
score = [73,86,76,65,93]

In [226]:
ave = sum(score) / len(score)

In [227]:
print("5教科のテストの点数の平均点は{}点です。".format(ave))

5教科のテストの点数の平均点は78.6点です。

In [228]:
# 円の半径から面積と円周を求める
r = input("円の半径")

円の半径 14

In [229]:
r

'14'

In [230]:
type(r)

str

In [231]:
r = int(r)

In [232]:
type(r)

int

In [233]:
a = r * 2 * 3.141592
b = r ** 2 * 3.141592

In [234]:
print("円周の長さは{:.6f}である。".format(a))
print("面積の大きさは{:.6f}である。".format(b))

円周の長さは87.964576である。
面積の大きさは615.752032である。

In [235]:
# 5桁の数字を各桁の数字ごとすべて足す
num = input("input number")

input number 32125

In [236]:
num

'32125'

In [237]:
type(num)

str

In [238]:
num = int(num)

In [239]:
type(num)

int

In [240]:
total = 0
for i in range(5):
    c = num % 10
    num = num // 10
    total += c
    if i == 5:
        break
print("合計は{}".format(total))

合計は13

In [241]:
# 5桁の数字を逆にして表示
num = input("input number")

input number 43094

In [242]:
num

'43094'

In [243]:
type(num)

str

In [244]:
num = int(num)

In [245]:
type(num)

int

In [246]:
total = 0
for i in range(1,6):
    if i == 1:
        c = (num % 10) * 10 ** 4
    elif i == 2:
        c = (num % 10) * 10 ** 3
    elif i == 3:
        c = (num % 10) * 10 ** 2
    elif i == 4:
        c = (num % 10) * 10
    elif i == 5:
        c = num % 10
    num = num //10
    total += c
    if i == 5:
        break
print("出力値は{}".format(total))

出力値は49034

In [247]:
# 別の入れ物を用意して変数に入れた値を入れ替える
a = 4
b = 9

In [248]:
c = a
a = b
b = c

In [249]:
print("a =", a,", b =", b)

a = 9 , b = 4

In [250]:
# 別の方法で変数に入れた値を入れ替える
a = 7
b = 12

In [251]:
a,b = b,a

In [252]:
print("a =", a,", b =", b)

a = 12 , b = 7

In [253]:
# 好きな年を入力してうるう年かを表示する
year = input("input year")

input year 2021

In [254]:
year

'2021'

In [255]:
type(year)

str

In [256]:
year = int(year)

In [257]:
type(year)

int

In [258]:
if year % 4 == 0:
    print("うるう年です")
else:
    print("うるう年ではない")

うるう年ではない

In [259]:
# 5教科の平均点を出し，成績を表示する
score = [81,98,86,93,88]

In [260]:
ave = sum(score) / len(score)

In [261]:
if ave >= 90:
    print("平均{}点 '秀'".format(ave))
elif ave >= 80:
    print("平均{}点 '優'".format(ave))
elif ave >= 70:
    print("平均{}点 '良'".format(ave))
elif ave >= 60:
    print("平均{}点 '可'".format(ave))
else:
    print("平均{}点 '不可'".format(ave))

平均89.2点 '優'

In [262]:
# 好きな数字を入力したら，その数字の逆を表示させ，入力した値と同じか判別させる
num = input("input number")

input number 12343

In [263]:
num

'12343'

In [264]:
type(num)

str

In [265]:
num = int(num)

In [266]:
type(num)

int

In [267]:
total = 0
d = num
i = 1
while i < 15:
    if num > (10 ** i) - 1:
        i += 1
    else:
        break

while i > 0:
    c = d % 10
    d = d // 10
    e = c * 10 ** (i - 1)
    total += e
    i -= 1
print("{}".format(total))
if num == total:
    print("'同じです'")
else:
    print("'同じではない'")

34321
'同じではない'

> while文1つで実行する方法も考えてみましょう。

In [268]:
# 5桁の数字をすべて足す(for,whileでループさせる)
num = input("input number")

input number 38749

In [269]:
num

'38749'

In [270]:
num = int(num)

In [271]:
type(num)

int

In [272]:
total = 0
i = 0
while i < 5:
    c = num % 10
    num = num // 10
    total += c
    i += 1
    if i == 5:
        break
print("合計は{}".format(total))

合計は31

In [273]:
# 中心の座標と半径を入力
x = 3
y = 6
r = 8

In [274]:
# 任意の座標値が円内に含まれるか表示
x1 = 7
y1 = 4

In [275]:
a = (x1 - x) ** 2 + (y1 - y) ** 2

if r ** 2 > a:
    print("'円の中'")
elif r ** 2 == a:
    print("'円の上'")
else:
    print("'円の外'")

'円の中'

In [276]:
# 好きな数字を入力したら，階乗を表示する
num = input("input number")

input number 6

In [277]:
num

'6'

In [278]:
type(num)

str

In [279]:
num = int(num)

In [280]:
type(num)

int

In [281]:
i = num
total = 1
while i > 0:
    total = total * i
    i -= 1
print("{}".format(total))

720

In [282]:
# 5つの数字を入力して，一番小さい値を表示
a = 123
b = 86
c = 309
d = 20
e = 32

In [283]:
if a > b:
    x = b
else:
    x = a
if x > c:
    x = c
if x > d:
    x = d
if x > e:
    x = e
print("最小の値は{}です。".format(x))

最小の値は20です。

In [284]:
# 3つの任意の点を入力し，同一線上にあるか判別
x1 = 2
y1 = 2
x2 = 3
y2 = 4
x3 = 8
y3 = 8

In [285]:
if x1 == x2 == x3:
    print("'同一線上にあります'")
elif y1 == y2 == y3:
    print("'同一線上にあります'")
else:
    a = (y2 - y1) / (x2 - x1)
    b = y1 - (a * x1)
    y = a * x3 + b
    if y == y3:
        print("'同一線上にあります'")
    else:
        print("'同一線上にありません'")

'同一線上にありません'

In [286]:
# *マークで任意の段数のピラミッドを作成
a = input("input number")

input number 5

In [287]:
a

'5'

In [288]:
type(a)

str

In [289]:
a = int(a)

In [290]:
type(a)

int

In [291]:
i = 1
for i in range(1,a+1):
    x = a - i
    y = (2 * i) - 1
    print(" " * (x) ,end = " ")
    print("*" * (y))

     *
    ***
   *****
  *******
 *********

In [292]:
# 上のピラミッドを上下逆に表示
a = input("input number")

input number 5

In [293]:
a

'5'

In [294]:
type(a)

str

In [295]:
a = int(a)

In [296]:
type(a)

int

In [297]:
i = 1
for i in range(a):
    x = i
    y = (2 * (a - i)) - 1
    print(" " * (x), end = " ")
    print("*" * (y))

 *********
  *******
   *****
    ***
     *